.galeria {
    text-align: center;
    padding: 4rem;
    @include gradient((90deg, $bg-1 50%, $bg-3 100%));
    h2 {
        margin-bottom: 4rem;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        grid-auto-flow: dense;
        grid-gap:1rem;
        grid-auto-rows: 13rem;
        justify-content: space-between;
    }
    li {
        border-radius: $borderRadius;
        overflow: hidden;
    }
    li.col-span-2 {
        grid-column: span 2;
    }
    li.row-span-2 {
        grid-row: span 2;
    }
    img {
        width:100%;
        height:100%;
        object-fit: cover;
        display: block;
        @include transition;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
        }
    }
    .btn-geral {
        margin: 4rem auto 0 auto
    }
}