$bg-1: #4c1d8a;
$bg-2: rgb(66, 17, 129);
$bg-3: #552294;
$color-1: #EDF2D0;
$color-2: #f7d55d;
$color-3: #7C5D0D;
$color-4: #390E70;
$borderRadius: 0.3rem;

@mixin transition {
    transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
}

@mixin shadow($shadow) {
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
}

@mixin gradient($g) {
    background: linear-gradient($g);
    background: -webkit-linear-gradient($g);
    background: -o-linear-gradient($g);
    background: -moz-linear-gradient($g);
}

@mixin fitContent {
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

@mixin asterisco {
    content:'*';
    display: inline-block;
    color: $color-2;
    position: absolute;
    font-family: 'Fredoka one', cursive;
}